.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 80px;
position: relative;
z-index: 0;
overflow: hidden;
}

.footer__content {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
  position: relative;
}
.footer__circle{
position: absolute;
width: 340px;
height: 340px;
background-color: #2F80ED;
border-radius: 50%;
z-index: 0;
top: -128px;
left: -44px;
}
.footer__social-heading {
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer__list {
  padding: 0;
  margin: 0;
margin-left: 10px;
  list-style-type: none ;
  display: flex;
  flex-direction: column;
  gap:16px;
}


.footer__list-item {
  display: flex;
}
.footer__social-{
  font-family: "Inter";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  color: #c1c1c1;
  text-decoration: none;
  column-gap: 16px;
  font-family: "Inter";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.footer__social-link:hover{
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 100px;
  font-family: "Inter";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}