.form__fiedset{
  min-width: 385px;
  margin: auto;
  width: 100%;
  border: none;

}
.form__input{
  border-radius: 4px;
  display: flex;
  flex-direction: column;
margin-bottom: 32px;
height: 60px;
padding: 15px 20px;
box-sizing: border-box;
min-width: 385px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}
.form__label{
  margin-bottom: 8px;
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}
.form__button{
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  background-color: #2f80ed;
  color: white;
  cursor: pointer;
  height: 60px;
  margin-bottom: 32px;
  min-width: 385px;
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}
.form__button:hover{
  opacity: 0.7;
}
.form__checkbox{
  border-radius: 2px;
  height: 20px;
  width: 20px;

}
.form__checkbox-label{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
 justify-content: center;
}
.form__checkbox:checked{
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}