.header{
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/background_header.svg');
  background-size: cover;
  min-height: 720px;
max-height: 800px;
height: 100vh;
display: flex;
flex-direction: column;
padding-bottom: 40px;
padding-right: 80px;
padding-left: 80px;
padding-top: 30px;

}
.header__span-accent{
  font-family: "Noto Serif";
font-style: italic;
font-weight: normal;
font-size: 58px;
line-height: 72px;
color: #2F80ED;
display: block;
}
.header__image{
position: absolute;
top: 124px;
right: 5px;
max-width: 646px;
max-height: 568px;
}
.header__title{
  margin-top: 183px;
  max-width: 709px;
 margin-bottom: 28px;
 font-style: normal;
 font-family: "Inter";
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: 1px;
}
.header__description{
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;

}
.header__footer{
   margin-top: auto;
  display: flex;
  box-sizing: border-box;
  font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #838383;
justify-content:space-between;
align-items: flex-end;
}
.header__footer-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  }


.header__paragraph{
  margin:0;
}


