 .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav__logo{
    position: relative;
  margin-left: 30px;
  margin-top: 30px;
  padding: 105px, 39px;
}
.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  column-gap: 20px;
  padding: 0;
  display: flex;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
 line-height: 20px;
}
.nav__links:hover{
  color: #2F80ED;
}