.recipes{
  width: 100%;
background-color: #0a2750;
background-size: cover;
background-repeat: no-repeat;
background-image: url('../images/background_recipes.svg');
padding-top: 100px;
padding-bottom: 215px;
padding-left: 80px;
}
.recipes__title{
  max-width: 580px;
  color: white;
  font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
}
.recipes__subtitle{
  margin-top: 24px;
  max-width: 438px;
  color: white;
  font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}
.recipes__videos{
    gap: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;
    margin-top: 80px;
    list-style-type: none;
    font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
}
.recipes__video-caption{
  margin-top: 24px;
color: white;
}
.recipes__iframe{
  width: 480px;
  height: 273px;
}

.recipes__video-caption-text{
display: flex;
justify-content: space-between;
}